html{
    width: 100%;
    height: 100%;
}

body{
    /* background-color: blue; */
}
#canvas-container{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

  canvas {
    border: 3px solid ;
  }
  button{
    
    font-size: 23px;
    border-radius: 20%;
    background-color: black;
    color: white;

  }